<div id="sidebar-container" class="bg-primary">
    <div class="logoo">
        <h4 class="text-light font-weight-bold"><i class="icon ion-ios-monitor-outline mr-2  "></i>Arauz Tracker</h4>
    </div>
    <div class="menu">
         <a routerLink= ""  class="d-block text-light p-3"><i class="icon ion-social-angular-outline mr-2 lead "></i>Tablero</a>
         <a routerLink="vista/ingresos" class="d-block text-light p-3"><i class="icon ion-ios-flame mr-2 ml-1 lead "></i>Ingresos </a>
         <a routerLink="vista/gastos"  class="d-block text-light p-3"><i class="icon ion-stats-bars mr-2 lead "></i>Gastos</a>
         <a  routerLink="vista/cuentas" class="d-block text-light p-3"><i class="icon ion-card mr-2 lead "></i>Cuentas</a>
         <a href="#" class="d-block text-light p-3"><i class="icon ion-ios-settings mr-2 lead "></i>Configuracion</a>
    </div>

</div>
