    <div class="content">
        <div class="d-flex">
             <!--Inicio sidebar-->
             <div class="content2">
                 <app-sidebar></app-sidebar>
             </div>
                
             <!--Fin sidebar-->
             
            <div class="w-100 p-1">
                    <!--Inicio navbar-->
                        <app-nav></app-nav>
                    <!--Fin navbar-->
                    <router-outlet></router-outlet>
        
            </div>
        </div>
      
    </div>
     
